main {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

main > * {
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: var(--black);
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar .menu {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
}

.sidebar .menu li {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  background-color: #333;
  transition: 0.2s ease-out;
}

.sidebar .menu li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  text-decoration: none;
}

.replace {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem;
}

/* LIST POSTS PAGE COMPONENT */

.list__posts__page {
  width: 100%;
  height: 100%;
}

.list__posts__page .posts__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* NEW POST PAGE COMPONENT */

.new__post__page {
  width: 60%;
  margin: auto;
}

#post__form {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}

.wrap__input {
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;

  flex-direction: column;
}

.wrap__input label {
  display: inline-block;
  font-size: 0.8rem;
}

input:not(input[type="checkbox"]),
input:not(input[type="file"]),
input:not(input[type="radio"]),
input:not(input[type="file"]),
textarea {
  width: 100%;
  border: 2px solid var(--black);
  padding: 0.5rem;
  border-radius: 2px;
  font-size: 0.8rem;
}

textarea {
  min-height: 200px;
  resize: none;
}

#post__form .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

#post__form .buttons button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.8rem;
  border: 2px solid var(--black);
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s ease-out;
  border-radius: 2px;
}

#post__form .buttons button:hover {
  background-color: var(--black);
  color: #fff;
}

#post__form .buttons button:hover svg {
  fill: #fff;
}
